{% extends "base.html" %}

{% block head_title %} Resturants | {{ block.super }} {% endblock head_title %}

{% block content %}
    <h1>My Resturants <small><a href='{% url "resturants:create" %}'>Add</a></small></h1>
    <ul>
    {% for obj in object_list %}
        <li><a href='{{ obj.get_absolute_url }}/'>{{ obj }}</a><br/>
        {{ obj.name }} {{ obj.location }} {{ obj.category }} {{ obj.timestamp }} {{ obj.updated }}</li>
    {% empty %}
        <li><a href='{% url "resturants:create" %}'>Add One</a></li>
    {% endfor %}
    </ul>
{% endblock %}